* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    min-width: 300px;
}

/* NAVIGACIJA */
.navigacija {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #efefef;
    border-bottom: 1px solid #d8d8d8;
    z-index: 1000;
}

.meni {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 10px 24px;
}

.meni li {
    margin: 0;
}

.meni a {
    text-decoration: none;
    color: #555;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
}

/* SADRŽAJ */
.sadrzaj {
    padding: 70px 30px;
}

.sekcija {
    margin-bottom: 40px;
}

.sekcija h2 {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 18px;
    color: #222;
}

/* GRID FILMOVA */
.film-grid {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 10px;
}

/* KARTICE */
.film {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
}

.trenutno {
    background: white;
}

.uskoro {
    background: powderblue;
}

.vise-nije {
    background: gray;
}

/* SLIKE */
.film img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

/* TEKST */
.naziv {
    margin-top: 10px;
    font-weight: bold;
}

.trajanje {
    font-size: 14px;
    color: #555;
}

/* RESPONSIVE */
@media (max-width: 800px) {
    .film-grid {
        grid-template-columns: repeat(3, 200px);
    }
}

@media (max-width: 500px) {
    .film-grid {
        grid-template-columns: 1fr;
    }
}